{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение профиля</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

{#<link rel="stylesheet" href="{% static 'css/change_password.css' %}">#}
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                <div class="card password-change-card">
                    <div class="card-header text-center">
                        <h2>Изменение пароля</h2>
                    </div>

                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.old_password.id_for_label }}">Старый пароль</label>
                                {{ form.old_password }}
                                {% if form.old_password.errors %}
                                    <div class="alert alert-danger mt-5">
                                        {{ form.old_password.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}">Новый пароль</label>
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <div class="alert alert-danger mt-5">
                                        {{ form.password.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.password_confirm.id_for_label }}">Подтвердите пароль</label>
                                {{ form.password_confirm }}
                                {% if form.password_confirm.errors %}
                                    <div class="alert alert-danger mt-5">
                                        {{ form.password_confirm.errors }}
                                    </div>
                                {% endif %}

                            </div>
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger mt-5">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                            <button type="submit" class="btn btn-primary btn-block" data-bs-target="#staticBackdrop">Сменить пароль</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


     <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>